body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.chat-cont {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
}

.missatge {
    align-items: flex-start;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #7fff00;
}

.nom {
    font-weight: bold;
}

.data {
    font-size: 0.8em;
    color: #888;
}

.text {
    color: #555;
}