.body-text1{
    font-weight: bold;
}
.body-text2{
    font-weight: bold;
    text-transform: uppercase;
}
.body-text2{
    font-weight: bold;
    text-transform: uppercase;
}
.actúan{
    font-style: italic;
    background-color: #f8f412;
    text-transform: uppercase;
    font-weight: 600;
}