body{
    font-style: normal;
    font-size:30px;
    font-weight: 200;
}
h1{
    letter-spacing: 10px;
}
h2{
    letter-spacing: 7px;
    
}
h3{
    text-transform: uppercase;
}
p{
    text-align: justify;
}
h1:hover{
    color: #0000ff;
    font-style: italic;
}
h3:hover{
    font-weight:bold;
    color: #ff2600;

}