.text1{
    font-size: 50px;
    font-weight: 600;
}
.text2{
    font-size: 40px;
    font-weight: 600;
}
.text3{
    max-height: 512px;
}
.text4{
    font-size: 60px;
}
.text5{
    font-size: 40px;
}
.text6{
    font-size: 30px;
}