.parraf1{
    width: 100vw;
    background-color: #00ffff;
}
.parraf2{
    width: 90vw;
    background-color: #ff1e00;
}
.parraf3{
    width: 80vw;
    background-color: #445757;
}
.parraf4{
    width: 70vw;
    background-color: #0630e7;
}
.parraf5{
    width: 60vw;
    background-color: #d2e714;
}