.SIMPLESTBLOG {
    color: #f70000;
    font-weight: normal;
}        
.fernando {
background-color: #ff0000;
color: #fbfbfb;
}
.welcom  {
     color:#e62910;
     text-decoration: #aaa19d underline;
}