
.kodak {
    color: #ecf015;
    font-weight: bold;
}

.años {
    color: #ffffff;
    font-weight: bold;
    background-color: #333392;
    
}

.fotografia {
    color: purple;
    font-weight: bold;
}

.farmaceuticos {
    color: #ffffff;
    font-weight: bold;
    background-color: #14f014;
}