.azul {
    color: #2913f1;
}
.verde {
         color:#05f038; 
}
.naranja {
        color: #ffa600;
}
.azul {
    color: #2913f1;
}
.cielo {
         color:#07bdff;
}
.rojo {
        color: #f70400;
}
.turquesa {
    color: #13f1b2;
}
.amarillo {
         color:#eeff03;
}
.marron {
         color:#a48640;
}