body{
    margin-left: 650px;
}
h2 {
    margin-bottom: 25px;
}

div {
    display: grid;
    justify-content: center;
    align-items: center;
}
    
section {
    padding: 0px 30px;
    max-width: 230px;
    margin-top: 25px;
}


.preu {
    font-weight: bold;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
}

p {
    margin: 0px;
}

.subindex {
    vertical-align:super;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #1e6b6b;
    font-weight: bold;
}

.compraara {
    padding: 10px 40px 10px 40px;
    border: none;
    background-color: #1e6b6b;
    color: #ffffff;
    margin-top: 25px;
}

footer {
    padding: 30px 30px;
}

.llista {
    list-style-type: none;
}
.tik{
    color: #1f70da;
    font-weight: bold;
}